<a href="https://colab.research.google.com/github/jittakorn-ch/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas             ### วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [ ]:
import pandas as pd      ### เหมือนกันกับข้างบนแต่ว่า ตั้งชื่อให้ package pandas ใหม่ว่า pd เพื่อง่ายต่อการใช้งาน

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่จะใช้ในวิชานี้

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

    name  age       city
0    Tom   27  Khon Kean
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python

## variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ห้ามมีเว้นวรรค
2. ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 'abcde'       ###  ' เรียกว่า quote
variable_c = variable_a

In [ ]:
variable_a

12

In [ ]:
variable_b

'abcde'

In [ ]:
variable_c

12

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [ ]:
# ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [ ]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [ ]:
print(variable1)

1

In [ ]:
variable_a = 12
variable_b = 'abcde'      ###  ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"        ###  " เรียกว่า double quote

In [ ]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [ ]:
print(variable_b + variable_4)

abcdeKKU

## Casting 

int() float() str()

In [ ]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [ ]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [ ]:
V_X         ### แสดงค่าที่เก็บใน memory

'-29.200000000000003'

In [ ]:
float(V_X)          ###  เปลี่ยน str เป็น float

-29.200000000000003

## Data Structure
### list()

In [ ]:
list_a = [1,2,0.2,'abs']            ### [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [ ]:
list_a

[1, 2, 0.2, 'abs']

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
len(list_b)                 ### len บอกจำนวนใน list

4

In [ ]:
list_b[3]               ### ชี้ตัวที่ 3 ของ list_b

[1, 2, 0.0]

In [ ]:
list_b[3][1]             ### ชี้ตัวที่ 3 ของ list_b ในตัวที่ 3 ชี้ตัวที่ 1

2

**string คือ list ของ ตัวหนังสือ**

In [ ]:
a = 'Stat KKU'

In [ ]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [ ]:
###  สร้าง list ว่าง
list_c = list()         ###    แบบที่ 1
list_d = []         ###    แบบที่ 2

In [ ]:
list_c

[]

In [ ]:
list_d

[]

### เติมค่าลงไปใน list (.append())

In [ ]:
list_d.append('a')

In [ ]:
list_d

['a']

In [ ]:
list_d.append(56)

In [ ]:
list_d

['a', 56]

### การชี้ค่าใน list (indexing)
1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_b[-1]

[1, 2, 0.0]

### list slicing

In [ ]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [ ]:
list_ex[1:6]               ### จะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ก่อนตัวหลัง]
                           ### สัญลักษณ์ทางคณิตศาสตร์ [ตังหน้า,ตัวหลัง)

[2, 3, 5, 6, 8]

In [ ]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [ ]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

In [ ]:
list_ex[::2]               ###  [จุดเริ่มต้น:จุดสุดท้าย:step]
                          ### step คือ นับกระโดด

[1, 3, 6, -1, 50]

In [ ]:
list_ex[::-1]              ### การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

**string คือ list ของตัวหนังสือ**

In [ ]:
a

'Stat KKU'

In [ ]:
a[-3:]

'KKU'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [ ]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

### format string



```python
f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [ ]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop



```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
do something
```

In [ ]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [ ]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [ ]:
for i in range(2,7,2):
  print(i)

2
4
6

In [ ]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [ ]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [ ]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if statement)



```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
```

In [ ]:
stringx = 'iamfuckingstupidstudentinclasstodaywhyiamnotunderstand'

if len(stringx) > 30:
       print(f'{stringx} is longer than 30 sharacters')

iamfuckingstupidstudentinclasstodaywhyiamnotunderstand is longer than 30 sharacters

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [ ]:
stringx = 'iamfuckingstupidstudentinclass'

if len(stringx) > 100:
       print(f'{stringx} is longer than 30 sharacters')
else:
    print(f'{stringx} in {len(stringx)} character long')

iamfuckingstupidstudentinclass in 30 character long

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1 
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [ ]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again')
elif len(input_pass) < len(password):
    print('Too short, try again')
else: 
    print('Wrong password, try again')

Wrong password, try again

#### **Quiz 1 หา min**

In [ ]:
list_ex = [1,5,9,-19,-2,0]  ## หาค่าที่น้อยที่สุดใน list

In [ ]:
min = 10000             ### กำหนด min สมมติ
for i in list_ex:
  if i < min:
    min = i

print(min)

-19

In [ ]:
min = 10000   
print(list_ex)
for i in list_ex: 
  print(f'now i = {i} min = {min}')
  print('strat condition')
  if i < min:
    print(f'i < min update min -> {i}')
    min = i
  else:
    print('i >= min,not update')
  print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1 min = 10000
strat condition
i < min update min -> 1
end condition, go to next i
now i = 5 min = 1
strat condition
i >= min,not update
end condition, go to next i
now i = 9 min = 1
strat condition
i >= min,not update
end condition, go to next i
now i = -19 min = 1
strat condition
i < min update min -> -19
end condition, go to next i
now i = -2 min = -19
strat condition
i >= min,not update
end condition, go to next i
now i = 0 min = -19
strat condition
i >= min,not update
end condition, go to next i
-19

#### **HW3 ตัดเกรด**

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

In [ ]:
for i in score:

  if i >= 80:
    print(f'{i} = A')
  elif i >= 75 and i < 80:
    print(f'{i} = B+')
  elif i >= 70 and i < 75:
    print(f'{i} = B')
  elif i >= 65 and i < 70:
    print(f'{i} = C+')
  elif i >= 60 and i < 65:
    print(f'{i} = C')
  elif i >= 55 and i < 60:
    print(f'{i} = D+')
  elif i >= 50 and i < 55:
    print(f'{i} = D')
  else:
    print(f'{i} = F')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

In [ ]:
for i in score:

  if i >= 80:
    print(f'{i} = A')
  elif i >= 75: 
    print(f'{i} = B+')
  elif i >= 70:
    print(f'{i} = B')
  elif i >= 65:
    print(f'{i} = C+')
  elif i >= 60:
    print(f'{i} = C')
  elif i >= 55:
    print(f'{i} = D+')
  elif i >= 50:
    print(f'{i} = D')
  else:
    print(f'{i} = F')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

## Function



```python
def ชื่อฟังก์ชั่น(input1,input2,...):
    งานxxx
    งานyyy
    return output
```



ส่วนประกอบสำคัญ
* inputt
* process (ไม่มีไม่ได้)
* output


![Function.png]()

#### Example1

In [ ]:
def grading(score):

  if score >= 80:
    grade= 'A'
  elif score >= 75: 
    grade = 'B+'
  elif score >= 70:
    grade = 'B'
  elif score >= 65:
    grade = 'C+'
  elif score >= 60:
    grade = 'C'
  elif score >= 55:
    grade = 'D+'
  elif score >= 50:
    grade = 'D'
  else:
    grade = 'F'

  return grade

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
  print(f'{i} = {grading(i)}')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

In [ ]:
def grading_list(list_score):
    grade_list = []
    for score in list_score:
        if score >= 80:
            grade= 'A'
        elif score >= 75: 
            grade = 'B+'
        elif score >= 70:
            grade = 'B'
        elif score >= 65:
            grade = 'C+'
        elif score >= 60:
            grade = 'C'
        elif score >= 55:
            grade = 'D+'
        elif score >= 50:
            grade = 'D'
        else:
            grade = 'F'
        grade_list.append([score,grade])
    return grade_list

In [ ]:
g = grading_list(score)
g

[[49, 'F'],
 [65, 'C+'],
 [70, 'B'],
 [95, 'A'],
 [82, 'A'],
 [55, 'D+'],
 [89, 'A'],
 [20, 'F'],
 [77, 'B+'],
 [77, 'B+'],
 [81, 'A'],
 [59, 'D+'],
 [10, 'F']]

In [ ]:
for i in g:                                
    print(f'{i[0]} = {i[1]}')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

In [ ]:
def grading2(score):

    if score >= 80:
        return 'A'
    elif score >= 75: 
        return 'B+'
    elif score >= 70:
        return 'B'
    elif score >= 65:
        return 'C+'
    elif score >= 60:
        return 'C'
    elif score >= 55:
        return 'D+'
    elif score >= 50:
        return 'D'
    else:
        return 'F'

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]
for i in score:
  print(f'{i} = {grading2(i)}')

49 = F
65 = C+
70 = B
95 = A
82 = A
55 = D+
89 = A
20 = F
77 = B+
77 = B+
81 = A
59 = D+
10 = F

#### Example2 (ไม่มี input)

In [ ]:
def mypi():
    return 3.14

In [ ]:
r=10
print(f'รัศมี={r} จะมีเส้นรอบวง = {2*mypi()*r}')

รัศมี=10 จะมีเส้นรอบวง = 62.800000000000004

#### Example3 (ไม่มี output)

In [ ]:
def grading_nooutput(score):             

  if i >= 80:
    print(f'{i} = A')
  elif i >= 75: 
    print(f'{i} = B+')
  elif i >= 70:
    print(f'{i} = B')
  elif i >= 65:
    print(f'{i} = C+')
  elif i >= 60:
    print(f'{i} = C')
  elif i >= 55:
    print(f'{i} = D+')
  elif i >= 50:
    print(f'{i} = D')
  else:
    print(f'{i} = F')

#### Example4 (ไม่มี input และ output)

In [ ]:
def darw_rect():
    print('============')
    print('|          |')
    print('|          |')
    print('============')

In [ ]:
darw_rect()
darw_rect()

============
|          |
|          |
============
============
|          |
|          |
============

#### ลักษณะของ input(parameter)

* จำเป็นต้องใส่ (non-default argument)
* ไม่จำเป็นต้องใส่

In [ ]:
def A(input1,input2 = 3):             ### ไม่จำเป็นต้องใส่ input ใน input2
    return input1+input2              ### เพราะ กำหนดค่า default แล้ว

In [ ]:
A(1)                               ### ใส่ input ใน input1

4

In [ ]:
A(1,2)

3

In [ ]:
def printlove(input1,input2 = 'Stat', input3 = 'KKU'):           
    print(f'{input1} love {input2} {input3}')

In [ ]:
printlove('Jittakorn')

Jittakorn love Stat KKU

In [ ]:
printlove('Jittakorn','SI','Stat')

Jittakorn love SI Stat

**เอา input ที่จำเป็นขึ้นก่อน**

### Quiz2
สร้างฟังก์ชั่น
* วาดรูปบ้าน
* วาดรูปต้นไม้

In [ ]:
def darw_house():
    print('     ------------')
    print('   .  .            .')
    print('  .    .            .')
    print(' .      .            .')
    print('.        .            .')
    print('-----------------------')
    print('.        .             .')
    print('.        .             .')
    print('.        .             .')
    print('.        .             .')
    print('.        .             .')
    print('.        .             .')
    print('------------------------')

In [ ]:
darw_house()

     ------------
   .  .            .
  .    .            .
 .      .            .
.        .            .
-----------------------
.        .             .
.        .             .
.        .             .
.        .             .
.        .             .
.        .             .
------------------------