<a href="https://colab.research.google.com/github/jittakorn-ch/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas             ### วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd      ### เหมือนกันกับข้างบนแต่ว่า ตั้งชื่อให้ package pandas ใหม่ว่า pd เพื่อง่ายต่อการใช้งาน

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่จะใช้ในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

   ืname  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   ืname  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic Python

## variables

ข้อกำหนดในการตั้งชื่อตัวแปร

1. ห้ามมีเว้นวรรค
2. ใช้ภาษาอังกฤษ
3. ตัวเล็กตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcde'       ###  ' เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [11]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [12]:
print(variable1)

1

In [13]:
variable_a = 12
variable_b = 'abcde'      ###  ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"        ###  " เรียกว่า double quote

In [15]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [16]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [18]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [20]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [21]:
V_X         ### แสดงค่าที่เก็บใน memory

'-29.200000000000003'

In [22]:
float(V_X)          ###  เปลี่ยน str เป็น float

-29.200000000000003

## Data Structure
### list()

In [23]:
list_a = [1,2,0.2,'abs']            ### [] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [24]:
list_a

[1, 2, 0.2, 'abs']

In [25]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [26]:
len(list_b)                 ### len บอกจำนวนใน list

4

In [27]:
list_b[3]               ### ชี้ตัวที่ 3 ของ list_b

[1, 2, 0.0]

In [28]:
list_b[3][1]             ### ชี้ตัวที่ 3 ของ list_b ในตัวที่ 3 ชี้ตัวที่ 1

2

**string คือ list ของ ตัวหนังสือ**

In [29]:
a = 'Stat KKU'

In [30]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [31]:
###  สร้าง list ว่าง
list_c = list()         ###    แบบที่ 1
list_d = []         ###    แบบที่ 2

In [32]:
list_c

[]

In [33]:
list_d

[]

**เติมค่าลงไปใน list (.append())**

In [41]:
list_d

['Stat KKU', 'Stat KKU', 'a']

In [42]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [43]:
list_b[-1]

[1, 2, 0.0]

**list slicing**

In [44]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

In [46]:
list_ex[1:6]               ### จะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ก่อนตัวหลัง]
                           ### สัญลักษณ์ทางคณิตศาสตร์ [ตังหน้า,ตัวหลัง)

[2, 3, 5, 6, 8]

In [47]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [48]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

In [49]:
list_ex[::2]               ###  [จุดเริ่มต้น:จุดสุดท้าย:step]
                          ### step คือ นับกระโดด

[1, 3, 6, -1, 50]

In [50]:
list_ex[::-1]              ### การกลับ list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

**string คือ list ของตัวหนังสือ**

In [51]:
a

'Stat KKU'

In [53]:
a[-3:]

'KKU'

In [54]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [55]:
list_a + list_b

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

**format string**



```python
f'string{ตัวแปร}'
```
{} เรียกว่า curly brackets

In [61]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

## Loop



```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป:
do something
```

In [60]:
for i in [1,2,3,4,5]:
  print(i+1)

2
3
4
5
6

In [62]:
for x in [1,2,3,4,5]:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [63]:
list5=[1,2,3,4,5]
for x in list5:
  print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for i in range(2,7):
  print(i)

2
3
4
5
6

In [66]:
for i in range(2,7,2):
  print(i)

2
4
6

In [67]:
for i in range(5):
  print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [68]:
for i in range(5):
  print('hahaha')
  x = i + 3
  print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [72]:
for i in range(3):
  print(f'now i = {i}')
  print('start j loop')
  for j in range(4):
    print(f'i = {i} j = {j} i+j = {i+j}')
  print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition

## Function