<a href="https://colab.research.google.com/github/jittakorn-ch/DWDM21/blob/main/Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project กลุ่ม
- present วันที่ 31 สิงหาคม 2564
- ข้อมูลที่ไปดึงมาจาก 3 แหล่ง
- แสดงวิธีการโหลด
- ความเชื่อมโยงของ 3 ตาราง (index)

In [1]:
import pandas as pd               ### สำหรับข้อมูลลักษณะ ตาราง

In [3]:
from google.colab import drive   ### เชื่อมต่อ drive
drive.mount('/content/drive')    ### คลิกลิ้ง -> เลือก E-mail -> ลงชื่อ -> ก็อปโค้ด -> นำกลับมาวาง -> enter

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import os                      ### จัดการไฟล์และ path

In [4]:
path = '/content/drive/My Drive/DWDM2021_DATA'

In [6]:
geolocation_data = pd.read_csv(os.path.join(path,'olist_geolocation_dataset.csv'))
geolocation_data

         geolocation_zip_code_prefix  ...  geolocation_state
0                               1037  ...                 SP
1                               1046  ...                 SP
2                               1046  ...                 SP
3                               1041  ...                 SP
4                               1035  ...                 SP
...                              ...  ...                ...
1000158                        99950  ...                 RS
1000159                        99900  ...                 RS
1000160                        99950  ...                 RS
1000161                        99980  ...                 RS
1000162                        99950  ...                 RS

[1000163 rows x 5 columns]

In [9]:
sellers_data = pd.read_csv(os.path.join(path,'olist_sellers_dataset.csv'))
sellers_data

                             seller_id  ...  seller_state
0     3442f8959a84dea7ee197c632cb2df15  ...            SP
1     d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2     ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ
3     c0f3eea2e14555b6faeea3dd58c1b1c3  ...            SP
4     51a04a8a6bdcb23deccc82b0b80742cf  ...            SP
...                                ...  ...           ...
3090  98dddbc4601dd4443ca174359b237166  ...            PR
3091  f8201cab383e484733266d1906e2fdfa  ...            SC
3092  74871d19219c7d518d0090283e03c137  ...            SP
3093  e603cf3fec55f8697c9059638d6c8eb5  ...            RS
3094  9e25199f6ef7e7c347120ff175652c3b  ...            SP

[3095 rows x 4 columns]

In [7]:
order_items_data = pd.read_csv(os.path.join(path,'olist_order_items_dataset.csv'))
order_items_data

                                order_id  order_item_id  ...   price freight_value
0       00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1       00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2       000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3       00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4       00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14
...                                  ...            ...  ...     ...           ...
112645  fffc94f6ce00a00581880bf54a75a037              1  ...  299.99         43.41
112646  fffcd46ef2263f404302a634eb57f7eb              1  ...  350.00         36.53
112647  fffce4705a9662cd70adb13d4a31832d              1  ...   99.90         16.95
112648  fffe18544ffabc95dfada21779c9644f              1  ...   55.99          8.72
112649  fffe41c64501cc87c801fd61db3f6244              1  ...   43.00         12.79

[112650 rows x 7 columns]

- ดึงข้อมูลมากจากไหน
- อธิบายข้อมูล
- บอกความเชื่อมโยง
- แสดงวิธีการ download
- นำข้อมูลเข้า colab